

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  h1{
      text-align: center;
      font-size: 100px;
      margin-bottom: -10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h2{
      text-align: center;
      font-size: 40px;
  }
  
  p{
      text-align: center;
  }
  
  header{
      text-align: center;
      background-color: #788691;
      padding: 20px;
      font-size: 40px;
      
  }
  